
<app-nav></app-nav>

<div class="container-fluid">
      <div class="row">
        <app-sidebar></app-sidebar>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          {{'TITLE' | translate}}
          <router-outlet></router-outlet>
        </main>
  </div>
</div>
